In [14]:
from dataclasses import dataclass

from functional_stuff.monads.enumerable import Enumerable


@dataclass
class Person:
    name: str
    surname: str
    company: str
    wage: int


@dataclass
class Company:
    name: str
    address: str


persons = Enumerable(
    # disclaimer: example data generated using microsoft copilot
    [
        Person("Tim", "Cook", "Apple", 300000),
        Person("Sundar", "Pichai", "Google", 250000),
        Person("Andy", "Jassy", "Amazon", 200000),
        Person("Reed", "Hastings", "Netflix", 180000),
        Person("John", "Doe", "Unknown", 50000),
        Person("Alice", "Wonder", "Google", 230000),
        Person("Bob", "Marley", "Unknown", 40000),
    ],
)

companies = Enumerable(
    # disclaimer: example data generated using microsoft copilot
    [
        Company("Apple", "One Apple Park Way, Cupertino, CA"),
        Company("Google", "1600 Amphitheatre Parkway, Mountain View, CA"),
        Company("Amazon", "410 Terry Ave N, Seattle, WA"),
        Company("Netflix", "100 Winchester Circle, Los Gatos, CA"),
        Company("Microsoft", "1 Microsoft Way, Redmond, WA"),
    ],
)

In [15]:
persons.inner_join(
    companies,
    lambda person: person.company,
    lambda company: company.name,
    lambda x, y: (x.name, y.name),
).to_list()

[('Tim', 'Apple'),
 ('Sundar', 'Google'),
 ('Andy', 'Amazon'),
 ('Reed', 'Netflix'),
 ('Alice', 'Google')]

In [16]:
persons.left_join(
    companies,
    lambda person: person.company,
    lambda company: company.name,
    lambda person, company: (person.name, company.name if company else None),
).to_list()

[('Tim', 'Apple'),
 ('Sundar', 'Google'),
 ('Andy', 'Amazon'),
 ('Reed', 'Netflix'),
 ('John', None),
 ('Alice', 'Google'),
 ('Bob', None)]

In [17]:
persons.right_join(
    companies,
    lambda person: person.company,
    lambda company: company.name,
    lambda person, company: (person.name if person else None, company.name),
).to_list()

[('Tim', 'Apple'),
 ('Sundar', 'Google'),
 ('Alice', 'Google'),
 ('Andy', 'Amazon'),
 ('Reed', 'Netflix'),
 (None, 'Microsoft')]

In [18]:
persons.full_join(
    companies,
    lambda person: person.company,
    lambda company: company.name,
    lambda person, company: (person.name if person else None, company.name if company else None),
).to_list()

[('Reed', 'Netflix'),
 (None, 'Microsoft'),
 ('John', None),
 ('Bob', None),
 ('Andy', 'Amazon'),
 ('Tim', 'Apple'),
 ('Sundar', 'Google'),
 ('Alice', 'Google')]

In [19]:
persons.cross_join(
    companies,
    lambda person, company: (person.name, company.name),
).to_list()

[('Tim', 'Apple'),
 ('Tim', 'Google'),
 ('Tim', 'Amazon'),
 ('Tim', 'Netflix'),
 ('Tim', 'Microsoft'),
 ('Sundar', 'Apple'),
 ('Sundar', 'Google'),
 ('Sundar', 'Amazon'),
 ('Sundar', 'Netflix'),
 ('Sundar', 'Microsoft'),
 ('Andy', 'Apple'),
 ('Andy', 'Google'),
 ('Andy', 'Amazon'),
 ('Andy', 'Netflix'),
 ('Andy', 'Microsoft'),
 ('Reed', 'Apple'),
 ('Reed', 'Google'),
 ('Reed', 'Amazon'),
 ('Reed', 'Netflix'),
 ('Reed', 'Microsoft'),
 ('John', 'Apple'),
 ('John', 'Google'),
 ('John', 'Amazon'),
 ('John', 'Netflix'),
 ('John', 'Microsoft'),
 ('Alice', 'Apple'),
 ('Alice', 'Google'),
 ('Alice', 'Amazon'),
 ('Alice', 'Netflix'),
 ('Alice', 'Microsoft'),
 ('Bob', 'Apple'),
 ('Bob', 'Google'),
 ('Bob', 'Amazon'),
 ('Bob', 'Netflix'),
 ('Bob', 'Microsoft')]